* {
    font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    border: 2px solid red;
    display: inline-block; /* vs inline*/
    margin: 0.5rem;
}
a {
    text-decoration: none;
    background-color: aquamarine;
    display: block;
    padding: 0.5rem;
    color: blue;
}
a:hover {
    background-color: brown;
    color: blanchedalmond;
}
